{% extends "base.html" %}
{% block content %}

<h2>Modifier : {{ saint['nom'] }}</h2>

<form method="POST" enctype="multipart/form-data">

<label>Jour :</label><br>
<input type="text" name="jour" value="{{ saint['jour'] }}"><br><br>

<label>Mois :</label><br>
<input type="text" name="mois" value="{{ saint['mois'] }}"><br><br>

<label>Nom :</label><br>
<input type="text" name="nom" value="{{ saint['nom'] }}"><br><br>

<label>Titre :</label><br>
<input type="text" name="titre" value="{{ saint['titre'] }}"><br><br>

<label>Date de naissance :</label><br>
<input type="text" name="date_naissance" value="{{ saint['date_naissance'] }}"><br><br>

<label>Description :</label><br>
<textarea name="description" rows="10" cols="80">{{ saint['description'] }}</textarea><br><br>

<label>Source :</label><br>
<textarea name="source" rows="10" cols="80">{{ saint['source'] }}</textarea><br><br>

<input type="file" name="image" accept="image/*">

<button type="submit">Enregistrer</button>
</form>

{% endblock %}
