{% extends "base.html" %}

<!-- SELECTEUR DE MOIS -->
{% block selecteur %}
<select id="select-mois" name="mois">
      {% for m, name in [
      ('01','Janvier'),('02','Février'),('03','Mars'),
      ('04','Avril'),('05','Mai'),('06','Juin'),
      ('07','Juillet'),('08','Août'),('09','Septembre'),
      ('10','Octobre'),('11','Novembre'),('12','Décembre')
      ] %}
      <option value="{{ m }}" {{ 'selected' if mois==m else '' }}>
        {{ name }}
      </option>
      {% endfor %}
    </select>
{% endblock %}


{% block content %}
<style>

.saints-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  padding: 20px;
}

.saint-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.saint-image {
  width: 100%;
  height: 180px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saint-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.saint-content {
  padding: 15px;
}

.saint-name {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.saint-title {
  margin: 5px 0 10px;
  font-size: 1rem;
  color: #666;
}

.saint-description {
  margin: 0;
  line-height: 1.4;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* nombre de lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

</style>
<!-- AFFICHAGE DES SAINTS DU MOIS -->
<main id="resultat">
  <a href="{{ url_for('edit') }}">Ajouter</a>
  <div class="saints-container">
{% for saint in saints %}
    <div class="saint-card">
    {% if saint['image'] %}
      <div class="saint-image">
        <img src="/static/{{ saint['image'] }}" width="200">
      </div>
      
    {% endif %}
    <div class="saint-content">
      <h2 class="saint-name">{{ saint['nom'] }}<a href="{{ url_for('edit', id=saint['id']) }}">Modifier</a></h2>
      <h3 class="saint-title">{{ saint['titre'] }}</h3>
      <p class="saint-description">{{ saint['description'] }}</p>
    </div>
  </div>
  {% endfor %}
  </div>
  
</main>

<script>
  const select = document.getElementById("select-mois");
  const resultat = document.getElementById("resultat");

  select.addEventListener("change", async () => {
      const mois = select.value;

      const html = await (await fetch(`/mois/${mois}`)).text();
      resultat.innerHTML = html;
  });
</script>

{% endblock %}