{% extends "base.html" %}

<!-- SELECTEUR DE MOIS -->
{% block selecteur %}
<select id="select-mois" name="mois" hx-trigger="change" hx-get="/saints" hx-target="body" hx-push-url="true">
    {% for m, name in [
        ('01','Janvier'),('02','Février'),('03','Mars'),
        ('04','Avril'),('05','Mai'),('06','Juin'),
        ('07','Juillet'),('08','Août'),('09','Septembre'),
        ('10','Octobre'),('11','Novembre'),('12','Décembre')
        ] %}
        <option value="{{ m }}" {{ 'selected' if mois==m else '' }}>
            {{ name }}
        </option>
    {% endfor %}
</select>
{% endblock %}


{% block content %}
<style>
    #saints-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-auto-rows: minmax(250px, 400px);
        gap: 1rem;
    }

    .saint-card {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        background: #fff;
        display: flex;
        flex-direction: column;
    }

    .saint-content {
        width: 100%;
        padding: 1rem;
        position: absolute; /* Positionnement absolu par rapport à la div parent */
        bottom: 0;
        color: white;       /* Couleur du texte */
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Ombre pour le contraste */
        background: #000000;
        background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.15) 100%);
    }

    .saint-name {
        margin: 0;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .saint-title {
        margin: 5px 0 10px;
        font-size: 1rem;
    }

    .saint-description {
        margin: 0;
        line-height: 1.4;
        white-space: pre-wrap;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* nombre de lignes */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  transform-origin: center;
}

.img-wrapper:hover img {
  transform: scale(1.1);
}

</style>

<!-- AFFICHAGE DES SAINTS DU MOIS -->
<div id="saints-container" hx-get="/vue/mois" hx-trigger="load" hx-include="[name='mois']">
</div>

{% endblock %}