{% extends "base.html" %}

<!-- SELECTEUR DE MOIS -->
{% block selecteur %}
<select id="select-mois" name="mois" hx-trigger="change" hx-get="/saints" hx-target="body" hx-push-url="true">
    {% for m, name in [
        ('01','Janvier'),('02','Février'),('03','Mars'),
        ('04','Avril'),('05','Mai'),('06','Juin'),
        ('07','Juillet'),('08','Août'),('09','Septembre'),
        ('10','Octobre'),('11','Novembre'),('12','Décembre')
        ] %}
        <option value="{{ m }}" {{ 'selected' if mois==m else '' }}>
            {{ name }}
        </option>
    {% endfor %}
</select>
{% endblock %}

<!-- AFFICHAGE DES SAINTS DU MOIS -->
{% block content %}
    Saint de {{ mois }}
    <div id="container" hx-get="/vue/mois" hx-trigger="load" hx-include="[name='mois']">
{% endblock %}